nav{
  width:100%;
  color: #fff;
  padding: 4px 0;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 10;
  margin-top: 10px;
}
.loginbut{
  background-color: white;
  color: #0F2340;
  border-radius:2px;
  border: none;
  cursor: pointer;
  margin-right: 14px;
  margin-left: 8px;
  font-weight: bold;
  padding-left: 15px;
  padding-top: 9px;
  padding-right: 15px;
  padding-bottom: 9px;
}
.loginbut:hover{
  background-color: #0F2340;
  color: white;
}
.loginbut:active{
  text-decoration: underline;
}
.container li:hover{
  text-decoration: underline;
}
.container li:active{
  color: #0F2340;
}